.footer{
	
	color:white;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #F47025; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color: #F47025;
    border:1px solid #ccc;
    height:60px;
    border-radius: 4px;
    
}


li {
    float: left;
     text-decoration: none;
     padding-bottom: 0px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:5px 15px 5px 15px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover:not(.active) {
    background-color: #F47026;
    border-radius: 4px;
    text-decoration: none;
    color:#337ab7

}
li a:hover{
    
}


li a .active {
    background-color: white;
    color:#F47025;
    border-radius: 4px;
}
#myBtn:hover {
    opacity: 0.8; /* Add a light orange background on hover */
}

#titleId{
	background-color: #F47025; 
	text-align: left;
	font-size: 20px;
	margin-left:5%;
	margin-right: 5%;
	border-radius: 4px; /* Rounded corners */
        text-decoration: none;

	
}
.btn-group{
    text-align: center;

}
#tdT{
    padding-top: 15px;
}
btn{
    background-color: #F47025;
}
.btn-primary
{
    background-color: #F47025;
}

#contentDiv{
	
	width:90%;
        margin-top: 0;
	margin-left:5%;
	margin-right: 5%; 
	background-color: white;
        border:1px solid #F47025;
	padding-bottom:auto;
	border-radius: 10px; /* Rounded corners */
	
}
.temp1{
    padding-bottom: 100px;
}
body{
	background-color:#aeaeae;
}
.shtoShfrytezuesin{
    
    float:right;
    background-color: white;
    
}


.table{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-top: 10px;
    
}
th{
    text-align: center;
}
#buton:hover{
    opacity:0.8;
}
.tabelaDiv {
   
    
    
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 0px;
    background-color: white;
     padding-right: 10%;
    padding-left: 10%;
    width:auto;
    
}
.temp{
    padding-bottom: 1200px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #F47025;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
   opacity:0.8;
}
.checkbox-inline-1{

	padding-right: 170px;
	padding-bottom: 5px;
}
.checkbox-inline-2{

	padding-right: 125px;
	padding-bottom: 5px;
}
.checkbox-inline-3{

	padding-right: 43px;
	padding-bottom: 5px;
}
.checkbox-inline-4{

	padding-right: 80px;
	padding-bottom: 5px;
}
.checkbox-inline-5{

	padding-right: 163px;
	padding-bottom: 5px;
}
.footer {
    position: static;
    left: 0;
    bottom: 0;
    height:60px;
    margin-bottom:20px;
    margin-top:5px;
    margin-left: 5%;
    align-content: center;
    padding-top: 20px;
    width: 90%;
    background-color:#F47025;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}
.pytjaLabel{
	font-size: 20px;
}