<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>BpB - Forma për te shtuar shfrytëzues</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link th:href="@{/styleLogin.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
<link rel="icon" 
      type="image/png" 
      th:href="@{bpbIcon1.png}" />
</head>
<body style="background-color: #eaeaea">



<form th:object="${user}" method="post" th:action="@{/users/add}">
  

    <div class="container">


<!--        <div class="imgcontainer">
            <img th:src="@{bpblogo.png}" alt="BpB Logo" class="avatar"/>       
        </div>-->

        <h2>Shto Shfrytëzuesin</h2>
        <label><b>Username</b></label>
        <input th:value="${user.username}" type="text" id="username" name="username" placeholder="Username.."  required="required"/>

        <label><b>Email</b></label>
        <input th:value="${user.email}" type="text" id="email" name="email"  placeholder="Email.." required="required"/>

        <label class="pytjaLabel" for="kampanja"><b>Roli i shfrytëzuesit</b></label>
        <select id="roli" name="roli"> 
            <option id="roliuser" value="user">Plotësimin e pyetësorëve</option>
            <option id="roliadmin" value="admin">Të gjitha çasjet</option>
        </select>

         <input type="submit" value="Submit"/>
    </div>

</form>
</body>
</html>


