<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>BpB - Ndryshimi i fjalëkalimit</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link th:href="@{/styleLogin.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
<link rel="icon" 
      type="image/png" 
      th:href="@{bpbIcon1.png}" />
</head>
<body style="background-color: #eaeaea">




    
    <form th:object="${user}" method="post" th:action="@{/changePassword}">
  

    <div class="container">




        <h2>Ndrysho fjalëkalimin</h2>
        <label><b>Username</b></label>
        <input th:value="${user.username}" type="text" name="user" id="user" readonly="readonly"/>

        <label><b>Fjalëkalimi i ri</b></label>
        <input type="password" id="psw" name="psw"  placeholder="Fjalekalimi i ri..." required="required"/>

         <input type="submit" value="Submit"/>
    </div>

</form>
</body>
</html>


