<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html
	html:th="http://www.thymeleaf.org" lang="en">
<head>
<title>BpB - Pyetësori për kampanja</title>
<meta http-equiv="Content-Type" content="text/html, charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
<link rel="icon" 
      type="image/png" 
      th:href="@{bpbIcon1.png}" />
</head>

<body style="background-color: #eaeaea">

	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        <div id="titleId">
            <ul>
                <li class="active"><a href="#"><b>Pyetësori</b></a></li> 
                 <li style="float: right"><a th:href="@{/changePassword}">Ndrysho fjalëkalimin</a></li>
                <li style="float: right"><a th:href="@{/users}">Shfrytëzuesit</a></li>
                <li style="float: right"><a th:href="@{/statistikat}">Statistikat</a></li>
            </ul>
        
        </div>
	<div id="contentDiv">
		<div class="container">
                    

                    <form th:action="@{/home}" method="post">
                        <div>
                            <label class="pytjaLabel" for="klientInfo">Emri dhe mbiemri</label> <input th:value="${klienti.klientInfo}" type="text" id="klientInfo" name="klientInfo" placeholder="Emri dhe mbiemri i klientit.." required="required"/> 
                                <label class="pytjaLabel" for="nrTelefonit">Nr.Telefonit</label><input th:value="${klienti.nrTelefonit}" type="text" id="nrTelefonit" name="nrTelefonit" placeholder="Numri i telefonit.." required="required"/> 
                           
                                <label class="pytjaLabel" for="kampanja">Ku keni dëgjuar për kampanjën  &nbsp;/ &nbsp; produktin  &nbsp;/ &nbsp; shërbimin ?</label><br/><br/>
                 
                               <label class="checkbox-inline-1"><input th:value="${pytesori.pytja1TV}" th:field="${pytesori.pytja1TV}" id="pytja1TV" name="pytja1TV"  type="checkbox"/>TV</label>
                                                   <label class="checkbox-inline-1"><input th:value="${pytesori.pytja1Radio}"  th:field="${pytesori.pytja1Radio}" name="pytja1Radio" id="pytja1Radio" type="checkbox"/>Radio</label>
                                                   <label class="checkbox-inline"><input th:value="${pytesori.pytja1RrjeteSociale}"  th:field="${pytesori.pytja1RrjeteSociale}" id="p1RrjetetSociale" type="checkbox"/>Rrjete sociale</label><br/>
                                                   <label class="checkbox-inline-2"><input th:value="${pytesori.pytja1Billboards}" th:field="${pytesori.pytja1Billboards}" id="p1Billboards" type="checkbox"/>Billboards</label>
                                                   <label class="checkbox-inline-5"><input th:value="${pytesori.pytja1Gazete}" th:field="${pytesori.pytja1Gazete}" id="p1Gazete" type="checkbox"/>Gazete</label>
                                                   <label class="checkbox-inline"><input th:value="${pytesori.pytja1Portale}" th:field="${pytesori.pytja1Portale}" id="p1Portale" type="checkbox"/>Portale</label><br/>
                                                   <label class="checkbox-inline-3"><input th:value="${pytesori.pytja1Referuar}" th:field="${pytesori.pytja1Referuar}" id="p1Referuar" type="checkbox"/>Referuar nga nje i afert</label>
                                                   <label class="checkbox-inline-4"><input th:value="${pytesori.pytja1PromovimetDirekte}" th:field="${pytesori.pytja1PromovimetDirekte}" id="p1Promovimet" type="checkbox"/>Promovimet direkte</label>
                                                   <label class="checkbox-inline"><input th:value="${pytesori.pytja1SMS}" th:field="${pytesori.pytja1SMS}" id="p1Sms" type="checkbox"/>SMS</label>
                                                   <textarea id="pytja1Other" name="pytja1Other"  th:value="${pytesori.pytja1Other}" type="text"  placeholder="Diku tjeter..." style="height: 40px"></textarea><br/><br/>



                                    <label class="pytjaLabel" for="kampanja">Cili është kanali që preferoni për t’u informuar për të rejat nga banka ?</label><br/><br/>
                                                    <label class="checkbox-inline-1"><input th:value="${pytesori.pytja2TV}" th:field="${pytesori.pytja2TV}" id="p2Tv" type="checkbox"/>TV</label>
                                                    <label class="checkbox-inline-1"><input th:value="${pytesori.pytja2Radio}" th:field="${pytesori.pytja2Radio}" id="p2Radio" type="checkbox"/>Radio</label>
                                                    <label class="checkbox-inline"><input th:value="${pytesori.pytja2RrjeteSociale}" th:field="${pytesori.pytja2RrjeteSociale}" id="p2RrjetetSociale" type="checkbox"/>Rrjete sociale</label><br/>
                                                    <label class="checkbox-inline-2"><input th:value="${pytesori.pytja2Billboards}" th:field="${pytesori.pytja2Billboards}" id="p2Billboards" type="checkbox"/>Billboards</label>
                                                    <label class="checkbox-inline-5"><input th:value="${pytesori.pytja2Gazete}" th:field="${pytesori.pytja2Gazete}" id="p2Gazete" type="checkbox"/>Gazete</label>
                                                    <label class="checkbox-inline"><input th:value="${pytesori.pytja2Portale}" th:field="${pytesori.pytja2Portale}" id="p2Portale" type="checkbox"/>Portale</label><br/>
                                                    <label class="checkbox-inline-3"><input th:value="${pytesori.pytja2Referuar}" th:field="${pytesori.pytja2Referuar}" id="p2Referuar" type="checkbox"/>Referuar nga nje i afert</label>
                                                    <label class="checkbox-inline-4"><input th:value="${pytesori.pytja2PromovimetDirekte}" th:field="${pytesori.pytja2PromovimetDirekte}" id="p2Promovimet" type="checkbox"/>Promovimet direkte</label>
                                                    <label class="checkbox-inline"><input th:value="${pytesori.pytja2SMS}" th:field="${pytesori.pytja2SMS}" id="p2Sms" type="checkbox"/>SMS</label>
                                                    <textarea id="pytja2Other" name="pytja2Other"  th:value="${pytesori.pytja2Other}" type="text"  placeholder="Diku tjeter..." style="height: 40px"></textarea>
                                                    <br/><br/>

                                    <label class="pytjaLabel" for="kampanja">A e keni kuptuar mesazhin e kampanjës ?</label>
                                            <select id="pytja3" name="pytja3">                                                 
                                                    <option id="p3Po" value="Po">PO (nese klienti e pershkruan qka ka kuptuar)</option>
                                                    <option id="p3Jo" value="Jo">JO (nese klienti nuk e din)</option>
                                            </select>

                                    <label class="pytjaLabel" for="kampanja">Cili është mendimi juaj për bankën tonë ?</label>
                                            <select id="pytja4" name="pytja4">
                                                    <option id="p4Neutral" value="neutral">Neutral</option>
                                                    <option id="p4Pozitiv" value="pozitiv">Pozitiv</option>
                                                    <option id="p4Negativ" value="negativ">Negativ</option>
                                            </select>

                                    <label class="pytjaLabel" for="kampanja">A do të referonit të afërmit  &nbsp;/ &nbsp; miqtë në bankën tonë ?</label>
                                            <select id="pytja5" name="pytja5">
                                                    <option id="pytja5" value="Po">PO</option>
                                                    <option id="pytja5" value="Jo">JO</option>
                                            </select>



                                    <label class="pytjaLabel" for="komenti">Koment</label>
                                    <textarea id="komenti" name="komenti" th:value="${pytesori.komenti}" type="text" placeholder="Komenti.." style="height: 200px"></textarea> 
                     
                                    
                          

                                <input type="submit" value="Submit"/>
                        
                        
                        </div>
                        

                            
			</form>
                    <div style="width:100%; padding-bottom: 50px;">
                      <form th:action="@{/logout}" method="post">
                          <input style="float: right" type="submit" value="Sign Out"/>
                            </form>
                    
                    </div>

		</div>
		
		<div class="footer">
		  <p id="footerText">Powered by: BpB IT Division. 2017</p>
		</div>
		

		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function() {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20
						|| document.documentElement.scrollTop > 20) {
					document.getElementById("myBtn").style.display = "block";
				} else {
					document.getElementById("myBtn").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>

	</div>
</body>
</html>


