<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Pyetesori per kampanja</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body style="background-color: #eaeaea">

	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        <div id="titleId"><ul><li class="active"><a href="#"><b>Pyetësori</b></a></li> <li style="float: left"><a href="statistikat.html">Statistikat</a></li>
 
        </ul>
        
        </div>
	<div id="contentDiv">
		<div class="container">

			<form action="/action_page.php">

				<label class="pytjaLabel" for="fname">Emri</label> <input type="text" id="fname" name="firstname" placeholder="Emri i klientit.."> 
				<label class="pytjaLabel" for="lname">Mbiemri</label> <input type="text" id="lname" name="lastname" placeholder="Mbiemri i klientit.."> 
                                <label class="pytjaLabel" for="id">Nr. Personal</label><input type="text" id="nrPersonal" name="nrPersonal" placeholder="Nr Personal i klientit.."> 
                                <label class="pytjaLabel" for="nrTelefonit">Nr.Telefonit</label><input type="text" id="nrTelefonit" name="nrTelefonit" placeholder="Numri i telefonit.."> 
				
				<label class="pytjaLabel" for="kampanja">Ku keni dëgjuar për kampanjën/produktin/shërbimin ?</label><br><br>
						<label class="checkbox-inline-1"><input type="checkbox" value="">TV</label>
						<label class="checkbox-inline-1"><input type="checkbox" value="">Radio</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Rrjete sociale</label><br>
						<label class="checkbox-inline-2"><input type="checkbox" value="">Billboards</label>
						<label class="checkbox-inline-5"><input type="checkbox" value="">Gazete</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Portale</label><br>
						<label class="checkbox-inline-3"><input type="checkbox" value="">Referuar nga nje i afert</label>
						<label class="checkbox-inline-4"><input type="checkbox" value="">Promovimet direkte</label>
						<label class="checkbox-inline"><input type="checkbox" value="">SMS</label>
						<textarea id="other1" name="subject" placeholder="Diku tjeter..." style="height: 40px"></textarea><br><br>
						
						
					
				<label class="pytjaLabel" for="kampanja">Cilë është kanali që preferoni për t’u informuar për të rejat nga banka ?</label><br><br>
						<label class="checkbox-inline-1"><input type="checkbox" value="">TV</label>
						<label class="checkbox-inline-1"><input type="checkbox" value="">Radio</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Rrjete sociale</label><br>
						<label class="checkbox-inline-2"><input type="checkbox" value="">Billboards</label>
						<label class="checkbox-inline-5"><input type="checkbox" value="">Gazete</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Portale</label><br>
						<label class="checkbox-inline-3"><input type="checkbox" value="">Referuar nga nje i afert</label>
						<label class="checkbox-inline-4"><input type="checkbox" value="">Promovimet direkte</label>
						<label class="checkbox-inline"><input type="checkbox" value="">SMS</label>
						<textarea id="other2" name="subject" placeholder="Diku tjeter..." style="height: 40px"></textarea>
						<br><br>
					
				<label class="pytjaLabel" for="kampanja">A e keni kuptuar mesazhin e kampanjës ?</label>
					<select id="pytja3" name="pytja3">
						<option value="jo">JO (nese klienti nuk e din)</option>
						<option value="po">PO (nese klienti e pershkruan qka ka kuptuar)</option>
					</select>
					
				<label class="pytjaLabel" for="kampanja">Cili është mendimi juaj për bankën tonë ?</label>
					<select id="pytja4" name="pytja4">
						<option value="neutral">Neutral</option>
						<option value="pozitiv">Pozitiv</option>
						<option value="negativ">Negativ</option>
					</select>
					
				<label class="pytjaLabel" for="kampanja">A do të referonit të afërmit/miqtë në bankën tonë ?</label>
					<select id="pytja5" name="pytja5">
						<option value="po">PO</option>
						<option value="jo">JO</option>
					</select>
					
					
				
				<label class="pytjaLabel" for="pytjeLire">Koment</label>
				<textarea id="pytjeLire" name="subject" placeholder="Komenti.." style="height: 200px"></textarea>

				<input type="submit" value="Submit">
			</form>


		</div>
		
		<div class="footer">
		  <p id="footerText">Powered by: BpB IT Division. 2017</p>
		</div>
		

		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function() {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20
						|| document.documentElement.scrollTop > 20) {
					document.getElementById("myBtn").style.display = "block";
				} else {
					document.getElementById("myBtn").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>

	</div>
</body>
</html>


