<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>BpB - Vlerësimi i kampanjave</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link th:href="@{/styleLogin.css}" rel="stylesheet" type="text/css"/>
<link rel="icon" 
      type="image/png" 
      th:href="@{/bpbIcon1.png}" />
</head>
<body style="background-color: #eaeaea">



<form th:action="@{/login}" method="post">
  <div class="imgcontainer">
    <img th:src="@{bpblogo.png}" alt="BpB Logo" class="avatar"/>
        
  </div>

<h2>Vlerësimi i Kampanjave</h2>
 <div th:if="${param.error}">
            <p style="text-align: center; color:red">Username ose Password &euml;sht&euml; dh&euml;n&euml; gabim</p>
        </div>
        <div th:if="${param.logout}">
            <p style="text-align: center; color:red">Ju jeni &ccedil;kyqur</p>
        </div>
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required="required"/>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required="required"/>
        
    <button type="submit">Login</button>
  </div>

</form>
</body>
</html>


