<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Pyetësori për kampanja</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styleLogin.css">
</head>
<body style="background-color: #eaeaea">



<form action="/action_page.php">
  <div class="imgcontainer">
    <img src="../static/bpblogo.png" alt="BpB Logo" class="avatar">
        
  </div>

<h2>Vlerësimi i Kampanjave</h2>
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit">Login</button>
  </div>

</form>
</body>
</html>


