<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>BpB - Statistikat e pyetësorëve</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link th:href="@{/styleUsers.css}" rel="stylesheet" type="text/css"/>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" href="/resources/demos/style.css"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="icon" 
      type="image/png" 
      th:href="@{bpbIcon1.png}" />
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
    $( function() {
    $( "#datepicker1" ).datepicker();
  } );
  </script>
</head>
<body style="background-color: #eaeaea">

	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
                
        
 

 
v
 
        
        
        
        
        <div  style="margin-top: 10px" id="titleId">
            <ul style="margin: 0">
                
                <li><a th:href="@{/home}">Pyetësori</a></li> 
                <li style="float: right"><a th:href="@{/changePassword}">Ndrysho fjalëkalimin</a></li>
                <li style="float: right"><a th:href="@{/users}">Shfrytëzuesit</a></li>
                <li style="float: right" class="active"><a th:href="@{/statistikat}"><b>Statistikat</b></a></li>
 
            </ul>
        </div>

	<div id="contentDiv">
           
            <div class="tabelaDiv">
                <div style="width:100%; height:50px">
                    <form th:action="@{/statistikat/data}" method="post">
                     <label class="pytjaLabel" style="color:#F47025" for="Data e fillimit">Data e fillimit<input type="text" name="fromDate" id="datepicker"/></label>
                     <label class="pytjaLabel" style="color:#F47025" for="Data e mbarimit">Data e mbarimit<input type="text" name="toDate" id="datepicker1"/></label>
                     <input type="submit" value="Submit"/>
                     </form>
            </div>    


            <h2 style="color:#F47025;">Tabelat e statistikave</h2><br/>
          

                <label class="pytjaLabel" style="color:#F47025" for="kampanja">1. Ku keni dëgjuar për kampanjën/produktin/shërbimin ?</label><br/><br/>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            
                            <th>TV</th>
                            <th>Radio</th>
                            <th>Rrjete Sociale</th>
                            <th>Billboards:</th>
                            <th>Gazete:</th>
                            <th>Portale:</th>
                            <th>Referuar nga nje i afert</th>
                            <th>Promovimet direkte</th>
                            <th>SMS</th>
                            <th>Total</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="tdT" name="pytja1Tv" th:text="${pytja1Tv}"></td>
                            <td id="tdT" name="pytja1Radio" th:text="${pytja1Radio}"></td>
                            <td id="tdT" name="pytja1RrjeteSociale" th:text="${pytja1RrjeteSociale}"></td>
                            <td id="tdT" name="pytja1Billboards" th:text="${pytja1Billboards}"></td>
                            <td id="tdT" name="pytja1Gazete" th:text="${pytja1Gazete}"></td>
                            <td id="tdT" name="pytja1Portale" th:text="${pytja1Portale}"></td>
                            <td id="tdT" name="pytja1Referuar" th:text="${pytja1Referuar}"></td>
                            <td id="tdT" name="pytja1PromovimetDirekte" th:text="${pytja1PromovimetDirekte}"></td>
                            <td id="tdT" name="pytja1SMS"  th:text="${pytja1SMS}"></td>
                            <td id="tdT" name="totalPytja1"  th:text="${totalPytja1}"></td>

                        </tr>

                    </tbody>
                </table>
                
                <label class="pytjaLabel" style="color:#F47025" for="kampanja">2. Cili është kanali që preferoni për t’u informuar për të rejat nga banka ?</label><br/><br/>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            
                            <th>TV</th>
                            <th>Radio</th>
                            <th>Rrjete Sociale</th>
                            <th>Billboards:</th>
                            <th>Gazete:</th>
                            <th>Portale:</th>
                            <th>Referuar nga nje i afert</th>
                            <th>Promovimet direkte</th>
                            <th>SMS</th>
                            <th>Total</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="tdT" name="pytja2Tv" th:text="${pytja2Tv}"></td>
                            <td id="tdT" name="pytja2Radio" th:text="${pytja2Radio}"></td>
                            <td id="tdT" name="pytja2RrjeteSociale" th:text="${pytja2RrjeteSociale}"></td>
                            <td id="tdT" name="pytja2Billboards" th:text="${pytja2Billboards}"></td>
                            <td id="tdT" name="pytja2Gazete" th:text="${pytja2Gazete}"></td>
                            <td id="tdT" name="pytja2Portale" th:text="${pytja2Portale}"></td>
                            <td id="tdT" name="pytja2Referuar" th:text="${pytja2Referuar}"></td>
                            <td id="tdT" name="pytja2PromovimetDirekte" th:text="${pytja2PromovimetDirekte}"></td>
                            <td id="tdT" name="pytja2SMS"  th:text="${pytja2SMS}"></td>
                             <td id="tdT" name="totalPytja2"  th:text="${totalPytja2}"></td>

                        </tr>

                    </tbody>
                </table>
                <label class="pytjaLabel" style="color:#F47025" for="kampanja">3. A e keni kuptuar mesazhin e kampanjës ?</label><br/><br/>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            
                            <th>Po</th>
                            <th>Jo</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="tdT" name="pytja3Po" th:text="${pytja3Po}"></td>
                            <td id="tdT" name="pytja3Jo" th:text="${pytja3Jo}"></td>
                            <td id="tdT" name="totalPytja3"  th:text="${totalPytja3}"></td>
                        </tr>

                    </tbody>
                </table>
                
                <label class="pytjaLabel" style="color:#F47025" for="kampanja">4. Cili është mendimi juaj për bankën tonë ?</label><br/><br/>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            
                            <th>Pozitiv</th>
                            <th>Negativ</th>
                            <th>Neutral</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="tdT" name="pytja4Pozitiv" th:text="${pytja4Pozitiv}"></td>
                            <td id="tdT" name="pytja4Negativ" th:text="${pytja4Negativ}"></td>
                            <td id="tdT" name="pytja4Neutral" th:text="${pytja4Neutral}"></td>
                            <td id="tdT" name="totalPytja4"  th:text="${totalPytja4}"></td>
                        </tr>

                    </tbody>
                </table>
                
                 <label class="pytjaLabel" style="color:#F47025" for="kampanja">5. A do të referonit të afërmit/miqtë në bankën tonë ?</label><br/><br/>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            
                            <th>Po</th>
                            <th>Jo</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="tdT" name="pytja5Po" th:text="${pytja5Po}"></td>
                            <td id="tdT" name="pytja5Jo" th:text="${pytja5Jo}"></td>
                            <td id="tdT" name="totalPytja5"  th:text="${totalPytja5}"></td>
                        </tr>

                    </tbody>
                </table>
                 
            </div>
                    <div class="temp" style="padding-bottom: 300px"></div>
			

		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function() {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20
						|| document.documentElement.scrollTop > 20) {
					document.getElementById("myBtn").style.display = "block";
				} else {
					document.getElementById("myBtn").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>

                    
	</div>
            <div class="footer">
		  <p>Powered by: BpB IT Division. 2017</p>
		</div>
</body>
</html>