<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>BpB - Pyetësori për kampanja</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link th:href="@{/style.css}" rel="stylesheet" type="text/css"/>
<link rel="icon" 
      type="image/png" 
      th:href="@{bpbIcon1.png}" />
</head>
<body style="background-color: #e9ecef">

	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
                
        
        <div id="titleId"><ul>
                
                <li><a th:href="@{/home}">Pyetësori</a></li>
                <li style="float: left" class="active"><a th:href="@{/statistikat}"><b>Statistikat</b></a></li>
                <li style="float: right"><a th:href="@{/users}">Shfrytëzuesit</a></li>
        </ul>
        </div>

	<div id="contentDiv">
		<div class="container">
                  

                      <div class="temp"></div>
			
		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function() {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20
						|| document.documentElement.scrollTop > 20) {
					document.getElementById("myBtn").style.display = "block";
				} else {
					document.getElementById("myBtn").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>

                    
	</div>
      
            <div class="footer">
		  <p>Powered by: BpB IT Division. 2017</p>
		</div>
              </div>
</body>
</html>


